<h1>Doable</h1>
<main>
  <section>
    <h2>Projects</h2>
    <ol>
      <% @projects.each do |project| %>
        <li><%= project.name %></li>
      <% end %>
    </ol>
  </section>
  <section>
    <h2>Todos</h2>
    <ol>
      <% @todos.each do |todo| %>
        <li><%= todo.name %></li>
      <% end %>
    </ol>
  </section>
</main>
