<div id="<%= dom_id project %>">
  <div>
    <strong>Name:</strong>
    <%= project.name %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= project.active %>
  </div>

  <% unless current_page?(project_path(project)) %>
    <%= link_to "View this project", project_path(project) %>
    <hr>
  <% end %>
</div>
