<h2><%= @project.name %></h2>

<ul>
  <% @project.each do |project| %>
    <li>
      <%= todo.name %>
      <% if todo.completed %>
        ✅
      <% end %>
    </li>
  <% end %>
</ul>

<%= button_to "Delete Project", project_path(@project), method: :delete %>
